

.Boba{
        color:palegreen;
        background-color:chocolate;
        padding: 10px;
        border-radius: 10px;
        border-radius: 1px solid blue;
}

.Boba:hover{
        color:cyan;
        padding: 10px;
        border-radius: 10px;
        border-radius: 10px;
        background-color:brown;
        outline-color: black; 
}


.Nihao{
        color:cyan;
        background-color: blue;
        padding: 10px;
        border-radius: 10px;
        border-color: red;
}

.Nihao:active{
        color:blue;
        background-color: cyan;
}

.banger{
        color:orangered;
        font-family: Akashii;
        animation : blinker 1s linear infinite;
}
@keyframes blinker{
   30%{opacity:0;}   
}

input{
    color:salmon;
    padding: 8px;
    border-radius: 5px;
    border-color: aqua;
    
}

input:focus{
    color:salmon;
    border-color: cyan;
    border-radius: 8px;
}
    
